{% extends 'cinema/base.html' %}
{% block title %}Выбор места{% endblock %}

{% block content %}
<h2>{{ seans.movie.title }}</h2>
<p>
    Зал №{{ hall.number }} |
    {{ seans.start_time|date:"d.m.Y H:i" }} |
    Цена: {{ seans.price }} ₽
</p>

<div class="mb-3">
    <span class="badge bg-success">Свободно</span>
    <span class="badge bg-danger">Занято</span>
</div>

<div class="bg-white p-3 rounded shadow-sm">
    {% for row in hall_scheme %}
        <div class="mb-2">
            <strong>Ряд {{ forloop.counter }}:</strong>

            {% for seat in row %}
                {% if seat.id in booked_seats %}
                    <span class="btn btn-sm btn-danger disabled">
                        {{ seat.seat_number }}
                    </span>
                {% else %}
                    <a href="{% url 'book_seat' seans.id seat.id %}"
                       class="btn btn-sm btn-success">
                        {{ seat.seat_number }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
